* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  justify-content: space-around;
  display: flex;
  padding: 8px 20px;
}

header, footer, .first {
  background-color: #1b1b20; /* My guess */ 
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

a {
  color: #999; /* My guess */ 
  text-decoration: none;
}

.content-container {
  padding: 0px;
}

.logo {
  padding: 0;
  color: #ddd; /* My guess */ 
  font-weight: 900;
  font-size: 18px;
}

.header-links {
  color: #bbb; /* My guess */ 
  font-size: 12px;
}

.card {
  display: flex;
}

.first {
  padding: 80px 160px;
  justify-content: space-around;
}

.second {
  background-color: #eee;  /* My guess */
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.third {
  background-color: #ccc; /* My guess */
  padding: 80px 80px;
  display: flex;
  gap: 4px;
  flex-direction: column;
  justify-content: center;
}

.cta {
  background-color: #38f; /* My guess */
  color: #fff; /* My guess */
  margin: 80px 160px;
  padding: 20px 40px;
  justify-content: space-around;
  align-items: center;
}

.left-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#cta-left-group {
  flex: 4 0 auto;
}

.hero {
  font-size: 36px;
  color: #eee /* My guess */ 
}

.hero-subtext {
  font-size: 14px;
  max-width: 50%;
  color: #aaa; /* My guess */ 
}

.regular-button {
  color: #fff; /* My guess */ 
  background-color: #38f; /* My guess */ 
  padding: 4px 12px;
  border-radius: 6px;
  border:none;
  max-width: 90px;
  max-height: 28px;
  font-size: 14px;
  line-height: 14px;
}

.image-container {
  background: #999; /* My guess */
  max-width: 600px;
  max-height: 350px;
}

.big-image {
  width: 600px;
  height: 350px;
  padding: 0;
}

.card-title {
  padding: 0;
}

.tile-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 80px;
  gap: 20px;
}

.tile {
  width: 145px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
}

.tile-image-container {
  width: 145px;
  height: 145px;
  border-color: #38f; /* My guess */
  border-width: 2px;
  border-radius: 4px;
  border-style: solid;
  padding: 12px;
}

.caption {
  text-align: center;
}

.big-quote {
  padding: 0 80px;
  font-size: 20px;
}

.quote-attribution {
  font-weight: bold;
  font-size: 20px;
  align-self: flex-end;
  padding: 0 80px;
}

.cta-header {
  padding: 0;
}

.cta-subtext {
  padding: 0;
}

#cta-button {
  border-style: solid;
  border-width: 2px;
  border-color:#fff; /* My guess */ 
}

footer {
  padding: 0;
}